include /data/features.jade

section.py-5.text-center
	.container-fluid
		header
			h1.section__title= 'Craze Features'
			p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, eum nostrum, enim autem, asperiores aliquam assumenda earum temporibus dolor culpa consequatur odio eos, excepturi nisi porro quibusdam! Necessitatibus quod, ullam.'
		ul.list-unstyled.row
			each feature in features
				li.feature.col-12.col-sm-6.col-md-4.mb-0.py-5
					header
						.feature__icon.mb-3(class=`feature__icon--${feature.icon}`)
						h2.feature__title.mb-3= feature.title
					p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolore.'
