include /data/plans.jade

section.text-center
	.container
		header
			h1= 'Plans'
			p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ipsa veniam non vel earum quas adipisci perspiciatis ratione aspernatur voluptatem nihil et laboriosam qui, id blanditiis impedit quo sit iusto!'
		ul.list-unstyled.row
			each plan in plans
				li.col-6.col-md-3
					h2= plan.name
					div= `$${plan.price}`
					ul
						each feature in plan.features
							li= feature
					a(href='#')= 'Purchase'
